#home-container {
  position: relative;
  background: url("../../img/bg.svg") no-repeat, #f5d6ab;
  background-size: cover;
  background-position: center;
  height: 768px;
  overflow-x: hidden;
}
.background-layer {
  background-color: rgba(136, 50, 17, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.i-am-section {
  width: 70%;
  position: absolute;
  top: 268px;
  left: 110%;
}
.i-am div {
  color: #fff;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 78px;
}
.name-title {
  animation: slide 4s linear infinite;
}
.skill-title {
  animation: slide2 4s linear infinite;
}
.download-cv {
  position: absolute;
  top: 496px;
  left: 12.5%;
  width: 138px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  padding: 10px 0;
  padding-left: 11px;
}
.download-cv a {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
@keyframes slide {
  0% {
    left: 110%;
  }
  12.5% {
    left: 12.5%;
  }
  37.5% {
    left: 12.5%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}
@keyframes slide2 {
  0% {
    left: 110%;
  }
  50% {
    left: 110%;
  }
  62.5% {
    left: 12.5%;
  }
  87.5% {
    left: 12.5%;
  }
  100% {
    left: -100%;
  }
}
@media screen and (max-width: 768px) {
  #home-container {
    height: 275px;
  }
  .i-am-section {
    top: 125px;
    width: 100%;
  }
  .i-am {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .i-am div {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }
  .download-cv {
    top: 183px;
    left: 50%;
    transform: translateX(-50%);
    height: 35px;
    padding: 3px 0;
    padding-left: 23px;
  }
  .download-cv a {
    font-size: 14px;
    line-height: 17px;
  }
  @keyframes slide {
    0% {
      left: 110%;
    }
    12.5% {
      left: 0%;
    }
    37.5% {
      left: 0%;
    }
    50% {
      left: -110%;
    }
    100% {
      left: -110%;
    }
  }
  @keyframes slide2 {
    0% {
      left: 110%;
    }
    50% {
      left: 110%;
    }
    62.5% {
      left: 0%;
    }
    87.5% {
      left: 0%;
    }
    100% {
      left: -110%;
    }
  }
}
